body {
  margin: 0;
  font-family: "Open Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu';
}

code {
  font-family: "Open Sans", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
